<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org" >
<head>
    <meta charset='utf-8'>
    <title>后台登陆页面</title>
    <link rel="stylesheet" type="text/css" href="../css/adminlogin.css" charset="UTF-8" />
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
</head>
<body >
<div class="box">
    <h2>Login</h2>
    <form action="/adminlogin" method="post" name="LoginItems">
        <div class="inputBox">
            <input type="text" name="username" required="">
            <label>UserName</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required="">
            <label>Password</label>
        </div>
        <p  th:text="${meg} " style="color: red"></p>
        <input type="submit" name="" value="Sign in">
    </form>

</div>

</body>
</html>